
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/RecipeDatabase/target/
/RecipeDatabase/nbproject/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/